* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-size: 18px;
  overflow-x: hidden;
}

html {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.heading {
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
}
@media only screen and (max-width: 1023px) {
  .heading {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .heading {
    font-size: 20px;
  }
}

.text {
  word-break: break-all;
  font-style: italic;
  color: #808080;
  line-height: 1.7777777778;
}
@media only screen and (max-width: 1023px) {
  .text {
    font-size: 14px;
  }
}

.btn {
  white-space: nowrap;
  font-size: 18px;
  border-radius: 40px;
  padding: 16px 52px;
  word-break: break-all;
  background-color: #fff;
  color: #da0945;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}
.btn--color-full {
  cursor: pointer;
  color: #fff;
  border: none;
  background-image: linear-gradient(to bottom, #da0945, #e93a2f);
  box-shadow: rgba(226, 36, 57, 0.6) 0px 5px 29px 0px;
}
@media only screen and (max-width: 1023px) {
  .btn {
    font-size: 16px;
    padding: 14px 28px;
  }
}
@media only screen and (max-width: 767px) {
  .btn {
    font-size: 12px;
    padding: 12px 20px;
  }
}

.dots {
  color: #dd1341;
  font-size: 80px;
}
@media only screen and (max-width: 1023px) {
  .dots {
    font-size: 50px;
  }
}

.header {
  min-height: 935px;
  position: relative;
}
.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
  z-index: -1;
  background-image: linear-gradient(to bottom, #da0945, #e93a2f);
}
.header__container {
  max-width: 1610px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-top {
  padding-top: 32px;
}
.header-top__logo {
  font-size: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  word-break: break-all;
}
.header-top__bars {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  display: none !important;
}
.header-menu__icon {
  display: none !important;
  color: #363636;
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  font-size: 28px;
  cursor: pointer;
}
.header-menu__list {
  list-style-type: none;
}
.header-menu__items {
  display: inline-block;
}
.header-menu__items:not(:first-child) {
  margin-left: 65px;
}
.header-menu__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
}
.header-content {
  margin-top: 200px;
  max-width: 560px;
}
.header-content__desc {
  line-height: 1.4;
  margin: 18px 0 100px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.header-content__desc span {
  font-weight: bold;
}
.header-phone {
  position: absolute;
  right: 0;
  top: -90px;
  pointer-events: none;
  z-index: 10;
}
.header .heading {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.header .heading span {
  display: block;
}
.header .container {
  position: relative;
}
@media only screen and (max-width: 1023px) {
  .header {
    min-height: 680px;
  }
  .header-bg {
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%);
  }
  .header-top__logo {
    font-size: 28px;
  }
  .header-top__bars, .header-menu__icon {
    display: block !important;
  }
  .header-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    background-color: #fff;
    max-width: 300px;
    width: 100%;
    transform: translateX(100%);
    transition: transform ease-in-out 0.4s;
    z-index: 100000000000000020000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .header-menu.open-menu {
    transform: translateX(0%);
  }
  .header-menu__list {
    margin-top: 65px;
  }
  .header-menu__items:not(:nth-child(999)) {
    margin-left: 0;
    padding: 20px;
    display: block;
  }
  .header-menu__link {
    font-size: 14px;
    color: #363636;
    font-weight: 600;
    word-break: break-all;
    line-height: 1.4;
  }
  .header-content {
    margin-top: 150px;
  }
  .header-content__desc {
    font-size: 16px;
    max-width: 280px;
    margin: 20px 0 40px;
  }
  .header-phone {
    max-width: 40%;
  }
}
@media only screen and (max-width: 1023px) {
  .header {
    min-height: auto;
  }
  .header-top {
    padding-bottom: 40px;
  }
  .header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .header-content {
    margin-top: 0;
  }
  .header-phone {
    position: unset;
  }
  .header .heading span {
    display: inline-block;
  }
}
@media only screen and (max-width: 767px) {
  .header-content__desc {
    font-size: 14px;
    margin: 20px 0 20px;
  }
}
@media only screen and (max-width: 424px) {
  .header {
    min-height: 400px;
  }
}

.app {
  padding-top: 40px;
}
.app__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.app__items:nth-child(2) {
  flex-direction: row-reverse;
}
.app__message {
  transform: translateX(-74px);
  position: relative;
}
.app__message img {
  pointer-events: none;
  max-width: 100%;
  display: block;
}
.app__message img:nth-child(2) {
  position: absolute;
  top: 84px;
  right: -194px;
}
.app__contact {
  position: relative;
  transform: translateX(74px);
}
.app__contact img {
  pointer-events: none;
  display: block;
  z-index: -1;
}
.app__contact img:first-child {
  position: absolute;
  top: 75px;
  z-index: 10;
  right: 152px;
}
.app__content {
  max-width: 570px;
}
.app .heading {
  margin-bottom: 28px;
  color: #363636;
}
.app .text {
  color: #808080;
  line-height: 1.7777777778;
}
@media only screen and (max-width: 1279px) {
  .app__message {
    transform: translateX(0);
  }
  .app__message img:last-child {
    right: -60px;
  }
  .app__contact {
    transform: translateX(0);
  }
  .app__contact img:first-child {
    right: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .app__content {
    max-width: 380px;
  }
  .app__message {
    flex-shrink: 0;
  }
  .app__message img {
    max-width: 65%;
  }
  .app__message img:last-child {
    right: 0;
  }
  .app__contact {
    flex-shrink: 0;
  }
  .app__contact img {
    max-width: 65%;
  }
  .app__contact img:first-child {
    right: 0;
  }
  .app .text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 767px) {
  .app .container > * {
    flex-direction: column-reverse;
  }
  .app__items:first-child {
    margin-bottom: 40px;
  }
  .app__content {
    text-align: center;
    margin-bottom: 20px;
  }
}

.people {
  margin-top: 180px;
  padding-top: 90px;
  border-top: 1px solid #dddddd;
  text-align: center;
}
.people .heading {
  color: #363636;
}
.people-list {
  padding-top: 144px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.people-list__items {
  width: calc(33.3333% - 20px);
}
.people-quote {
  border: 1px solid #dddddd;
  padding: 20px 30px;
  text-align: left;
  position: relative;
}
.people-quote::after {
  content: "";
  position: absolute;
  left: 24px;
  top: 100%;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #dddddd transparent transparent transparent;
}
.people-quote--direction {
  transform: translateY(-30px);
  box-shadow: rgba(100, 100, 111, 0.2) 0 25px 50px 0px;
}
.people-quote--direction::after {
  content: "";
  border-color: white transparent transparent transparent;
}
.people-quote__domain {
  display: block;
  padding-top: 18px;
  color: #e1203b;
  font-weight: bold;
}
.people-ceo {
  padding-top: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.people-ceo span:first-child {
  margin-bottom: 6px;
  display: block;
}
.people-ceo__avatar {
  display: inline-block;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
  width: 68px;
  height: 68px;
}
.people-ceo__main {
  padding-left: 20px;
}
.people-seo__name {
  color: #363636;
  font-weight: 600;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.people-seo__job {
  color: #7a8696;
  font-weight: 500;
  word-break: break-all;
}
.people .text {
  font-style: italic;
  color: #808080;
  line-height: 1.7777777778;
}
@media only screen and (max-width: 1023px) {
  .people {
    margin-top: 60px;
    padding-top: 0;
  }
  .people-list {
    padding-top: 100px;
  }
  .people-quote__domain {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .people {
    margin-top: 60px;
    padding-top: 0;
  }
  .people-list {
    padding-top: 50px;
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 90%;
    grid-auto-flow: column;
    grid-gap: 15px;
    overflow: auto;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    grid-template-columns: unset;
  }
  .people-list::-webkit-scrollbar {
    width: 1em;
    height: 5px;
    display: none;
  }
  .people-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  .people-list::-webkit-scrollbar-thumb {
    background-color: red;
  }
  .people-list > * {
    scroll-snap-align: start;
  }
  .people-list__items {
    width: 100%;
  }
  .people-quote--direction {
    transform: initial;
    box-shadow: unset;
  }
  .people .text {
    font-size: 14px !important;
  }
}

.intro {
  margin-top: 240px;
  padding: 110px 0;
  background-image: linear-gradient(to bottom, #da0945, #e93a2f);
}
.intro__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.intro-column {
  max-width: 365px;
  margin-bottom: -60px;
}
.intro-column__items {
  margin-bottom: 60px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.intro-column__main {
  text-align: right;
}
.intro-column__main--right {
  padding-right: 40px;
}
.intro-column__main--left {
  padding-left: 40px;
  text-align: left;
}
.intro-column__image {
  width: 40px;
  height: 100%;
}
.intro-phone {
  max-width: 100%;
  pointer-events: none;
  margin: -360px 0 -394px;
}
.intro .heading {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 6px;
}
.intro .text {
  font-weight: 400;
  font-size: 16px;
  color: #f2a2b2;
  font-weight: 300;
  line-height: 1.75;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media only screen and (max-width: 1023px) {
  .intro {
    padding: 40px 0;
  }
  .intro-phone {
    max-width: 40%;
  }
  .intro-column__main--left {
    padding-left: 12px;
  }
  .intro-column__main--right {
    padding-right: 12px;
  }
  .intro-column__image {
    width: 28px;
  }
  .intro .heading {
    font-size: 16px;
  }
  .intro .text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .intro {
    margin-top: 100px;
  }
  .intro__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .intro-column__main {
    text-align: left;
  }
  .intro-phone {
    margin: 20px auto;
  }
}

.subscribe {
  margin: 190px 0 145px;
  text-align: center;
}
.subscribe-content {
  max-width: 910px;
  margin: 0 auto;
}
.subscribe-form {
  margin: 78px auto 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 570px;
  height: 55px;
  border-radius: 40px;
  background-color: #f8f8f8;
}
.subscribe-form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 24px;
  font-size: unset;
  font-family: unset;
  background-color: transparent;
}
.subscribe-form input::-webkit-input-placeholder {
  color: #808080;
  font-size: 18px;
}
.subscribe-form input::-moz-input-placeholder {
  color: #808080;
  font-size: 18px;
}
.subscribe .heading {
  color: #363636;
  margin-bottom: 19px;
  word-break: break-all;
}
.subscribe .text {
  font-size: unset;
}
.subscribe .btn {
  padding: 0 52px;
}
@media only screen and (max-width: 1023px) {
  .subscribe {
    margin: 120px 0;
  }
}
@media only screen and (max-width: 767px) {
  .subscribe {
    margin: 60px 0;
  }
  .subscribe-form {
    height: 45px;
    margin: 50px auto 0;
  }
  .subscribe-form input::-webkit-input-placeholder {
    color: #808080;
    font-size: 14px;
  }
  .subscribe-form input::-moz-input-placeholder {
    color: #808080;
    font-size: 14px;
  }
  .subscribe .text {
    font-size: 14px;
  }
}

.download {
  padding: 100px 0 140px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  border-right: 0;
  text-align: center;
}
.download__logo {
  background-image: linear-gradient(to bottom, #da0945, #e93a2f);
  border-radius: 40px;
  width: 160px;
  height: 160px;
  word-break: break-all;
  color: #fff;
  font-size: 65px;
  font-weight: bold;
  box-shadow: rgba(226, 36, 57, 0.6) 0px 5px 29px 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.download-content {
  padding: 50px 0;
}
.download__store img {
  max-width: 100%;
}
.download .heading {
  word-break: break-all;
  color: #363636;
  margin-bottom: 34px;
}
@media only screen and (max-width: 767px) {
  .download__store img {
    max-width: 40%;
  }
}
@media only screen and (max-width: 1023px) {
  .download {
    padding: 50px 0;
  }
  .download__logo {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    font-size: 40px;
  }
  .download-content {
    padding: 25px 0;
  }
}

.footer {
  padding: 40px 55px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer-list {
  list-style-type: none;
}
.footer-list__items {
  display: inline-block;
}
.footer-list__items + .footer-list__items {
  margin-left: 64px;
}
.footer-list__link {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #363636;
  display: inline-block;
  word-break: break-all;
}
.footer-main {
  position: relative;
}
.footer__select {
  font-family: unset;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #ecebeb;
  padding: 14.4px 55.4px;
  color: #363636;
  font-size: unset;
  border-radius: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.footer__down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.8rem;
  pointer-events: none;
}
@media only screen and (max-width: 1023px) {
  .footer {
    padding: 20px;
  }
  .footer-list__items:not(:first-child) {
    margin-left: 20px;
  }
  .footer-list__link {
    font-size: 14px;
  }
  .footer__select {
    font-size: 12px;
    padding: 12px 40px;
  }
  .footer__down {
    right: 1.2rem;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 20px 12px;
  }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .footer-list__items:not(:first-child) {
    margin-left: 10px;
  }
  .footer-main {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 424px) {
  .footer {
    padding: 20px 8px;
  }
  .footer-list__link {
    font-size: 12px;
  }
}

.copyright {
  text-align: center;
  padding-bottom: 40px;
}
.copyright__dev {
  text-decoration: none;
  color: #da0945;
  transition: 0.2s;
}
.copyright__dev:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 1023px) {
  .copyright {
    font-size: 16px;
    padding-bottom: 25px;
  }
}
@media only screen and (max-width: 424px) {
  .copyright {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
