* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-size: 18px;
}

html {
  font-family: $primary-font;
}

.container {
  max-width: $wrapper + 30;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.heading {
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  color: $light-color;
  line-height: 1.2;
  @include maxWidth(1023px) {
    font-size: 25px;
  }
  @include maxWidth(767px) {
    font-size: 20px;
  }
}

.text {
  word-break: break-all;
  font-style: italic;
  color: $dark-light;
  line-height: calc(32 / 18);
  @include maxWidth(1023px) {
    font-size: 14px;
  }
}

.btn {
  white-space: nowrap;
  font-size: 18px;
  border-radius: 40px;
  padding: 16px 52px;
  word-break: break-all;
  @include bgc($light-color);
  color: $primary-color;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  &--color-full {
    cursor: pointer;
    color: $light-color;
    border: none;
    background-image: linear-gradient(
      to bottom,
      $primary-color,
      $secondary-color
    );
    box-shadow: rgb(226 36 57 / 60%) 0px 5px 29px 0px;
  }
  @include maxWidth(1023px) {
    font-size: 16px;
    padding: 14px 28px;
  }
  @include maxWidth(767px) {
    font-size: 12px;
    padding: 12px 20px;
  }
}

.dots {
  color: $dots-color;
  font-size: 80px;
  @include maxWidth(1023px) {
    font-size: 50px;
  }
}

