// color website
$primary-color: #da0945;
$secondary-color: #e93a2f;
$light-color: #fff;
$dark-color: #363636;
$dark-light: #808080;
$border-color: #dddddd;
$dots-color: #dd1341;

// base
$wrapper: 1170px;
$primary-font: 'Lato', sans-serif;